<div class="footer">
  <div class="footer__logo">
    <img src="../images/favicon.png" alt="Natours logo" />
  </div>
  <ul class="footer__nav">
    <li><a href="#">Về chúng tôi</a></li>
    <li><a href="#">Liên hệ</a></li>
  </ul>
</div>
